include ../mixins/flash-messages

doctype html
html
	head
		// meta
		meta(charset="utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible" content="IE=edge")
		meta(name="description", content=description || "Simon & Hannah gaan trouwen!")
		meta(name="author", content="Simon & Hannah")
		meta(name="robots", content="noindex, nofollow")

		// title
		title= title || "Simon &amp; Hannah gaan trouwen!"

		// fav and touch icons
		link(rel="shortcut icon", href="/favicon.ico", type="image/x-icon")

		// style
		link(rel="stylesheet", href="/css/default.css")
		link(href="/styles/glyphicons/glyphicons.css" rel="stylesheet")

		if user && user.isAdmin
			link(href="/keystone/styles/content/editor.min.css", rel="stylesheet")

		// client side application
		script(src="/js/app.bundle.js")

	body
		.container
			+flash-messages(messages)
			block content

		if user && user.isAdmin
			script(src="/keystone/js/content/editor.js")
