html
	head
		body
			p Dear madam/sir,
			p We're sending this email because you have requested a password reset.
			| To reset your password, please click on the following link:
			p: a(href=url+"/forgot/"+user.resetPasswordToken) Password reset
			p If there are any questions – please contact us via +31 20 771 78 17 or&nbsp;
				a(href="mailto:support@viriciti.com") support@viriciti.com
			p Best regards,
			| ViriCiti team
			br
			br
			p --
			br
			br
			small
				p: strong ViriCiti B.V.
				p: a(href="http://www.viriciti.com") http://www.viriciti.com
				p MTCdeZwijger | Willem de Zwijgerlaan 350 - 352 | 1055 RD Amsterdam | +31 20 771 78 17
				div: img(src="https://www.viriciti.com/wp-content/uploads/2015/03/viriciti.website.logoKL.png")