html
	head
		body
			p Dear madam/sir,
			p #{user.name.first} #{user.name.last} has created a user account for you on the ViriCiti system.
			p ViriCiti is the telematics system for your electric vehicles and enables you to manage the energy consumption online or diagnose a vehicle/battery issue. We enable your electric vehicles to drive further, more reliable and at lower costs.
			p To monitor your electric vehicles, create your account with the link below:
			p: a(href=url+"/invited/"+invitedUser._id) Create account
			p You can log into the system from any platform (smartphone / tablet / laptop). Please make sure, that you are at least using one of the following browsers:
			| Internet Explorer 10 (or higher), Firefox 36 (or higher), Google Chrome (all versions) or Safari 6 (or higher).
			p If there are any questions – please contact us via +31 20 771 78 17 or&nbsp;
				a(href="mailto:support@viriciti.com") support@viriciti.com
			p Enjoy using the system, your feedback is highly appreciated!
			br
			br
			p Best regards, <br/>
			| ViriCiti team
			br
			br
			p --
			br
			br
			small
				p: strong ViriCiti B.V.
				p: a(href="http://www.viriciti.com") http://www.viriciti.com
				p MTCdeZwijger | Willem de Zwijgerlaan 350 - 352 | 1055 RD Amsterdam | +31 20 771 78 17
				div: img(src="https://www.viriciti.com/wp-content/uploads/2015/03/viriciti.website.logoKL.png")