extends ../layouts/default

block content
	.page-header
		h1: em(data-txt="home.title")

		p(data-txt="home.intro-text")

	p
		strong(data-txt="home.rsvp-text") Laat weten of je komt:&nbsp;
		span &nbsp;&nbsp;
		a(href="/rsvp").btn.btn-primary.btn-lg
			| RSVP!
			br
			small(style="font-size: 60%;")
				em (klik hier)

	hr

	p(data-txt="home.info-text")
