extends ../layouts/default

block content

	button.btn.btn-primary.btn-lg(type="button" data-toggle="modal" data-target="#my-modal") Launch demo modal

	#my-modal.modal.fade(tabindex="-1" role="dialog")
		.modal-dialog(role="document")
			.modal-content
				.modal-header
					button.close(type="button" data-dismiss="modal"): span &times;
					h4#my-modal-label.modal-title Modal title

				.modal-body
					form.form-horizontal(action="post")
						.form-group
							label.col-sm-3.control-label(for="email") E-mailadres
							.col-sm-9
								input#email.form-control(type="email" placeholder="E-mailadres")

						.form-group
							label.col-sm-3.control-label(for="name") Naam
							.col-sm-9
								input#name.form-control(type="text" placeholder="Naam")

						.form-group
							.col-sm-offset-3.col-sm-9
								.checkbox
									label
										input(type="checkbox")
										| Ik heb interesse in dingen

						.form-group
							.col-sm-offset-3.col-sm-9
								button.btn.btn-default(type="submit") Verstuur

				.modal-footer
					button.btn.btn-default(type="button" data-dismiss="modal") Close
					button.btn.btn-primary(type="button") Save changes

